/**
 * @file
 * Caption styles.
 */
.caption {
  display: table;
  max-width: 100%;
}
.caption > * {
  display: block;
  max-width: 100%;
  border: none;
}
.caption > figcaption {
  margin: 0 0 1em;
  padding: 0.3em 0.5em;
  text-align: center;
  background-color: #f7f7f7;
}
img.align-left {
  margin-right: 2em;
  margin-bottom: 1em;
}
img.align-right {
  margin-left: 2em;
  margin-bottom: 1em;
}
