/**
 * @file
 * Hero component styling.
 */
.block-hero {
  position: relative;
  padding: 12vh 2rem 8vh;
  margin: 0 -0.9375rem;
}
.block-hero .block-title,
.block-hero .block-content {
  max-width: 100%;
  overflow-wrap: break-word;
}
@media (min-width: 25em) {
  .block-hero {
    font-size: 1.3em;
  }
}
@media (min-width: 34em) {
  .block-hero {
    font-size: 1.5em;
  }
}
@media (min-width: 62em) {
  .block-hero {
  }
}
.block-hero-no-image {
  background-color: #26515e;
  background-image: radial-gradient(circle, #999, #666);
  background-blend-mode: luminosity;
}
.no-background-blend-mode .block-hero-no-image * {
  position: relative;
  z-index: 1;
}
.no-background-blend-mode .block-hero-no-image {
  /* Fixes IE bug where text is behind pseudo-element */
  position: relative;
  z-index: 1;
}
.no-background-blend-mode .block-hero-no-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #009dff;
  opacity: 0.5;
  z-index: 0;
}
.block-hero .block-title {
  margin: 0 0 0.2em;
  padding: 0;
  font-weight: 200;
  line-height: 1.2;
  font-size: 2.3em;
}
@media (min-width: 34em) {
  .block-hero .block-title {
    font-size: 2.3em;
  }
}
