.tabs ul.primary {
  padding: 0 3px;
  margin: 1rem 0;
  overflow: hidden;
  position: relative;
}
.tabs ul.primary::before {
  content: " ";
  position: absolute;
  display: block;
  bottom: 1px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ccc;
}
.tabs ul.primary li {
  display: block;
  vertical-align: bottom;
  position: relative;
  margin: 0 5px 0 0; 
}
.tabs ul.primary li a {
  color: #000;
  background-color: #ddd;
  border-color: #888;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  padding: 8px 24px;
  margin: 0;
  border: 1px solid #bbb;
}
.tabs ul.primary li.active a {
  background-color: #f9f9f9;
}
@media screen and (min-width: 600px) {
  .tabs ul.primary li {
    float: left;
  }
  .tabs ul.primary li a {
    float: left;
    border-color: #bbb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none;
  }
  .tabs ul.primary li a:hover {
    border-color: #666;
  }
}
